.header{
  height: 400px;
  display: flex;
  align-items: center;
  padding:0 8% 0 8%;
  background: rgb(91, 167, 167);
}

.main-pic{

}

.pic-item{
  height: 340px;
  width: 340px;
  border-radius:50%;
}

.name-block{
  margin: 0 auto;
}

.my-name{
  font-family: 'Fredericka the Great', cursive;
  font-size: 72px;
}

.cv{
  font-family: 'Fredericka the Great', cursive;
  font-size: 52px;
  align-items:center;
  text-align: center;
}

.info{
  margin-top: 25px;
  padding:0 8% 0 8%;
}

.info-link{
  text-decoration: none;
}

.i-color{
  color: rgb(18, 56, 94);
}

.info-item{
  /*font-size: 32px;*/
  color: black;
}